<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Page not found-kartie</title>
        <meta http-equiv="X-UA-Compatible" content="IE=7,8,edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{{url_for('static',filename='Swoader.js')}}" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  <script type="text/javascript" charset="utf-8">
      var swoader = new Swoader("darkorange",
           "80","white");
           swoader.start()
           swoader.addText("loading","40px","white")
           swoader.animateText()
           swoader.removeWhenLoaded(5000)
  </script>
    </head>
    <body>
        <header>
    <span class="logo"><a href="/">KARTIe</a></span>
    <span id="sbar_toggler" onclick="onav()">&#8801;</span>
    <div id="d_links">
            <a class="sbar_links" href="/">Home</a>
    {% if session.email %}
      <a href="/logout" class="sbar_links">logout</a>
    {% else %}
      <a href="/login" class="sbar_links">login</a>
      <a href="/signup" class="sbar_links">signup</a>
    {% endif %}
      <a href="/cart" class="sbar_links">cart</a>
      <a class="sbar_links" href="/category/shoes">Shoes</a>
      <a class="sbar_links" href="/category/gadgets">Gadgets</a>
      <a class="sbar_links" href="/category/clothes">Clothes</a>
      
    </div>
  </header>
    <div id="side_bar" style="transform: translateX(-100vw)">
      <span id="hide_sbar" onclick="cnav()">&times;</span>
      <div id="sbar_inner">
      <a class="sbar_links" href="/">Home</a>
    {% if session.email %}
      <a href="/logout" class="sbar_links">logout</a>
    {% else %}
      <a href="/login" class="sbar_links">login</a>
      <a href="/signup" class="sbar_links">signup</a>
    {% endif %}
      <a href="/cart" class="sbar_links">cart</a>
      <a class="sbar_links" href="/category/shoes">Shoes</a>
      <a class="sbar_links" href="/category/gadgets">Gadgets</a>
      <a class="sbar_links" href="/category/clothes">Clothes</a>
      
      </div>
    </div>
    <div id="not_found" style="margin-top:-60px;">
        
        <h1 class="404">404 Page not found</h1>
 </div>
 <script src="static/main.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>