<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Category - {{cat}}</title>
 <script src="{{url_for('static',filename='Swoader.js')}}" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  <script type="text/javascript" charset="utf-8">
      var swoader = new Swoader("darkorange",
           "80","white");
           swoader.start()
           swoader.addText("loading","40px","white")
           swoader.animateText()
           swoader.removeWhenLoaded(5000)
  </script>
</head>

<body>
      <header>
    <span class="logo"><a href="/">KARTIe</a></span>
    <span id="sbar_toggler" onclick="onav()">&#8801;</span>
    <div id="d_links">
            <a class="sbar_links" href="/">Home</a>
    {% if session.email %}
      <a href="/logout" class="sbar_links">logout</a>
    {% else %}
      <a href="/login" class="sbar_links">login</a>
      <a href="/signup" class="sbar_links">signup</a>
    {% endif %}
      <a href="/cart" class="sbar_links">cart</a>
      <a class="sbar_links" href="/category/shoes">Shoes</a>
      <a class="sbar_links" href="/category/gadgets">Gadgets</a>
      <a class="sbar_links" href="/category/clothes">Clothes</a>
      
    </div>
  </header>
    <div id="side_bar" style="transform: translateX(-100vw)">
      <span id="hide_sbar" onclick="cnav()">&times;</span>
      <div id="sbar_inner">
      <a class="sbar_links" href="/">Home</a>
    {% if session.email %}
      <a href="/logout" class="sbar_links">logout</a>
    {% else %}
      <a href="/login" class="sbar_links">login</a>
      <a href="/signup" class="sbar_links">signup</a>
    {% endif %}
      <a href="/cart" class="sbar_links">cart</a>
      <a class="sbar_links" href="/category/shoes">Shoes</a>
      <a class="sbar_links" href="/category/gadgets">Gadgets</a>
      <a class="sbar_links" href="/category/clothes">Clothes</a>
      
      </div>
    </div>
    <div id="main">
      <div class="cat_page_head">
      <h1 class="cat_page_header">{{ cat }}</h1>
      <div class="cat_page_search">
         <form action="/search" method="post">
        <input type="search" name="q" id="q" class="search_inp" placeholder="Search...">
        <button class="btn btn_primary">Search</button>
        </form>
      </div>
</div>
      <div class="cat_p_container">
  {% for pd in pd %}
        <div class="cat_page_p_card">
          <img src="{{url_for('static',filename=pd.img)}}" alt="" class="cat_page_p_card_img"/>
          <div>
          <span class="card_title">{{pd.pname}}</span>
          <div id="cat_ap_con">
            <span class="price">{{pd.price}}</span>
            <button class="btn btn_primary"><a href=""></a>Add to Cart</a></button>
          </div>
          <div class="cat_p_des">
            {{pd.des}}
          </div>
          </div>
        </div>
 {% endfor %}
 
      </div>
      </div>
    </div>
    <footer>
      <div class="footer-body">
         <div class="logo">KARTIe</div>
         <div>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum dignissim nisl posuere efficitur. </p>
            <ul>
               <li><a href="#"> About </a></li>
               <li><a href="#"> Contact </a></li>
               <li><a href="#"> Terms & Conditions </a></li>
               <li><a href="#"> Privacy Policy </a></li>
            </ul>
         </div>
      </div>
      <div class="footer-copyright">
         &copy; All rights reserved. Created by <a href="https://chigozieanyaejip.ga">Chigozie Anyaeji</a>
      </div>
   </footer>
  <script src="{{url_for('static', filename='main.js')}}" type="text/javascript" charset="utf-8"></script>
</body>

</html>
